@import 'reset-css';
@import 'partials/base.css';


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main, #main {
  flex: 1;
}

#global-header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "masthead nav";
  align-items: center;
  background-color: var(--dashi-bg-highlight);
  padding: 1em;
  border-bottom: 1px solid var(--dashi-bg-optional);
}

#masthead {
  grid-area: masthead;
  .title {
    --fz-ratio: 1.685;
    --fz: calc(var(--dashi-fz) * var(--fz-ratio));
    font-weight: 600;
    font-size: var(--fz);
    color: var(--dashi-text-strong);
  }
  .description {
    --fz-ratio: 0.85;
    --fz: calc(var(--dashi-fz) * var(--fz-ratio));
    font-size: var(--fz);
    color: var(--dashi-text-muted);
  }
}

#global-nav {
  grid-area: nav;
}

#global-footer {
  padding: 1em;
  .copyright {
    --fz: var(--dashi-fz);
    --fz-ratio: 0.625;
    font-size: calc(var(--fz) * var(--fz-ratio));
    text-align: center;
  }
}

