@import 'reset-css';
@import 'partials/base.css';


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main, #main {
  flex: 1;
}

#global-header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "masthead nav";
  align-items: center;
  background-color: var(--dashi-bg-highlight);
  padding: 1em;
  border-bottom: 1px solid var(--dashi-bg-optional);
}

#masthead {
  grid-area: masthead;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  .title {
    --fz-ratio: 1.685;
    --fz: calc(var(--dashi-fz) * var(--fz-ratio));
    font-weight: 600;
    font-size: var(--fz);
    color: var(--dashi-text-strong);
  }
  .description {
    --fz-ratio: 0.8;
    --fz: calc(var(--dashi-fz) * var(--fz-ratio));
    font-size: var(--fz);
    color: var(--dashi-text-muted);
  }
}

#global-nav {
  grid-area: nav;
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 17px;
  }
  .nav-item {
    list-style: none;
  }
}

#global-footer {
  padding-top: 0;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  .copyright {
    --fz: var(--dashi-fz);
    --fz-ratio: 0.625;
    border-top: 1px solid var(--dashi-stroke);
    padding-top: 7px;
    font-size: calc(var(--fz) * var(--fz-ratio));
    text-align: center;
  }
}

